#BrowseBox {
    width: 100%;
    padding-left: 30px; 
    padding-right: 30px;
    padding-top: 15px;
    height: 100%;
}
.displayBoxRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%; 
    height: 370px; 
    margin-bottom: 20px;
}

.displayImage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
}

.displayImage text{
    color: white; 
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Red Rose'; 
    margin-bottom: 10px
}


.displayImage p{
    color: white; 
    font-size: 20px;
    font-family: 'Red Rose'; 
}


.imageOptions {
    height: 260px;
    width: 260px;
    border-radius: 5px;
    border-style: solid; 
    border-width: 3px; 
    border-color: white; 
    margin-right: 15px; 
    margin-left: 15px; 
    margin-bottom: 10px; 
    margin-top: 20px;
    background-image: url("/images/Think Twice.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.imageOptions:hover {
    opacity: 85%;
}

#textTitle {
    color:rgb(255, 157, 199);; 
    font-size: 30px; 
    font-family: 'Russo One', sans-serif;
    text-decoration: underline;
}

.imageSlider {
    color: red;
}

.imageSlider{                                  /*overall track*/
    -webkit-appearance: none;
    color: green;
}

#sliderIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 300px; 
}

#sliderL {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: rgb(80, 1, 80);
    border-radius: 50%;
    padding: 15px;
}

#sliderR {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: rgb(80, 1, 80);
    border-radius: 50%;
    padding: 15px;
}

#sliderL:hover {
    background-color: rgb(110, 2, 110);
}

#sliderR:hover {
    background-color: rgb(110, 2, 110);
}


/*
.imageSlider::-webkit-slider-runnable-track { 
    width: 800px;
    height: 12px;
    background: rgb(250, 248, 249);
    border: none;
    border-radius: 135px;
}

.imageSlider::-webkit-slider-thumb { 
    -webkit-appearance: none;
    border: none;
    height: 15px;
    width: 15px;
    margin-top: -1.5px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(104, 6, 104);
    background: rgb(247, 247, 247);
    box-shadow: -407px 0 0 400px rgb(104, 6, 104);
}
*/

@keyframes left {
    0%   {    left: 170px; }
    25% {    left: 180px; }
    50%   {    bottom: 170px; }
    75% {    bottom: 180px; }
    100%   {    bottom: 170px; }
}
