#PlaylistsBox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.scheduleContent {
    display: flex; 
    align-items: flex-start;
    justify-content: flex-start; 
    width: 100%; 
    height: 100%;
}

.scheduleContent text{
    font-size: 30px; 
    color: white; 
    font-weight: bold; 
}

#inputBox4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100px;
    border-bottom-style: solid; 
    border-bottom-width: 5px; 
    border-bottom-color: rgb(233, 135, 178);
    margin-bottom: 30px;
}

#inputBox4 text{
    font-size: 35px;
    color: rgb(233, 135, 178);
    font-family: 'Russo One', sans-serif;
}

.bookBox {
    height: 280px;
    width: 280px;
}

.bookContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    border-color: white;
    border-radius: 10px;
    border-width: 0.1px;
    border-style: solid;
    padding: 10px;
    background-color: rgb(43, 0, 15);
}

.bookContainer:hover {
    opacity: 90%
}

.bookContainer text{
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Red Rose'; 
    font-size: 25px;
}

.bookContainer p{
    font-family: 'Red Rose'; 
    font-size: 25px;
    color: white;
}




