#headingBox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%; 
    height: 100%;
    padding-top: 10px;
    background-color: black
}

.titleBox5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%; 
    height: 100px;
}

.musicTitle {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-left: 125px;
}

.musicTitle text {
    font-size: 65px; 
    font-weight: bold; 
    text-decoration: underline; 
    font-family: 'Russo One', sans-serif;
    color:rgb(233, 135, 178); 
}

.streamBox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 60px;
    padding-right: 60px;
    border-top-style: solid; 
    border-color: rgb(233, 135, 178); 
    border-width: 5px;
    width: 100%; 
    height: 100%
}
.displayBox {
    background-color: rgb(46, 0, 46);
    border-radius: 10px;
    width: 100%;
    height: 600px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column
}

.choiceBox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 27%;
    height: 100%;
    margin-top: 20px;
    padding-right: 30px;
}

#choiceOption {
    background-color: rgb(80, 1, 80);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color:  rgb(233, 135, 178); 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 10px;
    width: 300px; 
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 30px;
}

#choiceOption:hover {
    background-color: black;
    color: pink;
    border-width: 3px;
    border-style: solid;
    border-color:  rgb(233, 135, 178); 
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%; 
    width: 20%; 
}

.textOption {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%; 
    width: 80%; 
}
#choiceOption div text {
    font-size: 30px; 
    color: white;
    font-family: 'Play', sans-serif;
}


